
@media screen and (max-width:451px){

      .container {
        background: #f0f0f0;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 12px;
        overflow: hidden;
        height: 50px;
        box-shadow:  0 0 0 #cccccc,
        0 0 0 #ffffff,
         10px 10px 10px #cccccc inset,
         -10px -10px 10px #ffffff inset;
      }
      .box {
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #f0f0f0; 
        animation: anime 2s infinite alternate;
        animation-fill-mode: forwards; 
        
      }
  
      @keyframes anime {
        0% {
            width: 70px;
            border-radius: 12px;
          height: 100%;
          border-color: transparent;
          background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
          color: var(--white-color);
          box-shadow:  0 0 0 #cccccc,
                       0 0 0 #ffffff,
                        10px 10px 10px #cccccc inset,
                        -10px -10px 10px #ffffff inset;
        }
        25% {
          width: 80px;
          height: 100%;
          border-radius:12px;
          border-color: transparent;
          background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
          color: var(--white-color);
          box-shadow:  10px 10px 10px #cccccc,
                       10px 10px 10px #ffffff,
                       0 0 0 #cccccc inset,
                       0 0 0 #ffffff inset;
        }
        50% {
          width: 60px;
          height:100%;
          border-radius: 12px;
          border-color: transparent;
          background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
          color: var(--white-color);
          box-shadow:  10px 10px 10px #cccccc,
                       10px 10px 10px #ffffff,
                       0 0 0 #cccccc inset,
                       0 0 0 #ffffff inset;
        }
        100% {
          width: 480px;
          height: 100%;
          border-radius: 12px;
          border-color: transparent;
          background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
          color: var(--white-color);
          box-shadow:  40px 40px 40px #cccccc,
                       0 0 0 #ffffff,
                       0 0 0 #cccccc inset,
                       2px 2px 2px #ffffff inset;
         }
        }

        .heading-h4{
            letter-spacing: 1px;
            font-size: large;
        }

    }