#settingsBody {
    z-index: 0;
    display: flex;

    justify-content: center;
    align-items: center;
}

#settingsProfileImage {
    height: 10rem;
    width: 10rem;
}

#settingsData {
    width: 100%;
}

#profileTab {
    z-index: 10;
}

#light #paper{
    width: 98%;
    background-color: white;
    align-items: center;
    box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
}

#dark #paper{
    width: 98%;
    background-color: #1d2238;;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.422);
}


#upperBar{
    margin-top: -2px;
}

#light #TitleDiv{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top:4rem;
    margin-left: 3rem;
}

#dark #TitleDiv{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top:4rem;
    margin-left: 3rem;
    color: white;
}

#account{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

#iconAccount{
    margin-right: 5px;
}



#lineDiv{
    width: 90%;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
}

#settingsProfileImage{
    border-radius: 100%;
}

#imgDiv{
    margin-bottom: 4rem;
}

#NameDiv{
    line-height: 4rem;
    width: 90%;
    margin: 0 auto 0 auto ;
}

#deleteButton{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#light #lable {
 color: black;
}

#dark #lable{
    color: white;
}

#light #text{
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    position: relative;
    width: 38rem;
    margin: 1rem auto 1.25rem auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(207, 207, 207);
    border: none;
}

#dark #text{
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    position: relative;
    width: 38rem;
    margin: 1rem auto 1.25rem auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    border: none;
}

#light #UpdateButton{
    margin: 2rem 0 2rem 0;
    height: 0.5rem;
    width: 100%;
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: var(--white-color);
    margin-top: 4rem;
    width: auto;
    height: 40px;
    letter-spacing: 2px;
    box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
}

#dark #UpdateButton{
    border-color: #FFEA41;
    color: #FFEA41;
    margin-top: 4rem;
    width: auto;
    height: 40px;
    letter-spacing: 2px;
}

.settings-hr-line{
    margin: 2rem 0 2rem 0;
    height: 0.5rem;
    width: 100%;
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: var(--white-color);
}