.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #card {
    width: max-content;
    border-radius: 5px;
    height: max-content;
    background-color: white;
    margin: 2rem 1.75rem;
    box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
  }

  .card-see-attendies-btn{
    width: 85%;
    
  }
  
  #card:hover {
    box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
    border: none;
    transition: border;
    transition-duration: 0.5s;
  }

  #light .app__work-tag{
    background-color: var(--white-color);
  }

  #dark .app__work-tag{
    background-color: var(--dark-mode-secondary-color);
  }
  
  #dark #card {
    background-color: #1d2238;
    border-color: #1d2238;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.422);
  }
  
  #dark #card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
    border-radius: 0px;
  }
  
  #light #button {
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: var(--white-color);
  }
  
  #dark #button {
    border-color: #FFEA41;
    color: #FFEA41;
  }
  
  #cardContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    height: 5rem;
  }
  
  #cardActions {
    align-self: center;
  }
  
  .cardActionsIcon {
    margin: 0 0.8rem
  }