

.video-page-parent-div{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.video-page-video-title{
    margin-top: 3px;
    width: 80%;
    height: 20px;
    color:#545454;
    letter-spacing: 0.5px;
    font-weight: 100;
    font-size: 15px;
    overflow-y: scroll;
    

}

.video-page-video-title::-webkit-scrollbar {
    width: 2.5px;
    border-radius: 30px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.151);
  }
   
  .video-page-video-title::-webkit-scrollbar-track {
    background: #ddd;
    }
   
    .video-page-video-title::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%); 
}

.video-page-content-div-parent{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap:2px;  
}

.video-page-content-div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:15px;
    width: 80%;
    overflow: scroll;
    max-height:max-content;
    min-height:215px;
}

.video-page-name-date-div{
    display: flex;
    margin-top: 8px;
    gap:80px;
}


.video-page-p-tag{
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 100;
    color:#545454
}

.author{
    background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%);
    -webkit-background-clip: text;
    background-clip: text;
    border-color: transparent;
    color: transparent;
}

.video-page-notes-btn{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
        width: 100%;
        justify-self: center;
        align-self: center;
        border-radius: 0 0 12px 12px;
        color: var(--white-color);
        cursor: pointer;
        font-size: small;
        height: 25px;
        margin-top: 6px;
        letter-spacing: 1px;
        font-weight: 100;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }