body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {

  --light-primary-color: #ffb74d;
  --dark-primary-color: #FFEA41;
  --black-color: #030303;
  --dark-mode-primary-color:#222B45;
  --dark-mode-secondary-color: #1d2238;
  --lightGray-color: #e4e4e4;
  --gray-color: 	#A9A9A9;
  --gray-color-secondary: #ccc;
  --white-color: #ffffff;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  --test-color: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
}



* {
  font-family: 'Roboto'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}