.tutorial-card-parent-container{
    height: max-content;
    padding: 2rem;
    width: 75%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


._number_2{
    color: var(--white-color);
    background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);
}

.tutorial-card-title{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: normal;
    font-weight:500;
}