.pagenotfound_parent_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagenotfound_lottie_container{
    max-height: 300px;
    max-width: 300px;
}

.pagenotfound_paragraph_conatainer{
    padding: 0.5rem;
}

.pagenotfound_pragraph{
    font-style: italic;
    font-size: larger;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#dark .pagenotfound_pragraph{
    color: var(--white-color);
}