.quiz-settings-main-container{
  display: flex;
  align-items: center;
}

#centerContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizSettingBtn-div{
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}

#light .quizSettingBtn {
  background-color: #ffb74d;
  color:white;
  border-color: #ffb74d;
  margin-bottom: 4rem;
  width: auto;
  height: 40px;
  margin-top: -3rem;
  letter-spacing: 2px;
  box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
}

#dark .quizSettingBtn  {
  border-color: #FFEA41;
  color: #FFEA41;
  margin-bottom: 4rem;
  width: auto;
  height: 40px;
  letter-spacing: 2px;
  margin-top: -3rem;
}

.quiz-settings-sweepable-drawer{
  display: flex;
  flex-direction: row;
}