/* label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
 */
#quizSettingButton {
  position: absolute;
  top: 2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  left: 8.5rem;
}


#light #quizSettingButton {
  background-color: #ffb74d;
  margin-top: 4rem;
  width: 150px;
  height: 40px;
  letter-spacing: 2px;
}

#dark #quizSettingButton {
  background-color: #FFEA41;
  color: #151a30;
  margin-top: 4rem;
  width: 150px;
  height: 40px;
  letter-spacing: 2px;
}

#alert {
  width: 100%;
  font-size: larger;
}

#form {
  box-shadow: 0 2px 10px rgb(70, 56, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffb74d;
  align-items: center;
  width: 50%;
}

#background {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  /* margin-top: 1rem;
  margin-left: 1rem; */
}

#img-div {
  width: 30rem;
  position: relative;
  height: 0px;
}

#addSettingButton{
  background-color: #ffb74d;
  width:fit-content;
  z-index: 9999;
  letter-spacing: 1px;
}

#rocket{
  display: flex;
  position: relative;
  right: 6rem;
  bottom: 2rem;
}

#rocketAndSubmitButtonContainer{
  position: relative;
  top:90px;
}

#img-div2{
  position: relative;
  bottom: 1170px;
  
}

#sparkles{
  position: relative;
}

#quizname ,#subject,#timePerQuestion, #positiveMarking, #negativeMarking,#startDate,#startTime,#runTime{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: #eee;
  position: relative;
  width: 38rem;
  margin: 1rem auto 1.25rem auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(207, 207, 207);
  border: none;
}

#img-div3{
  position: relative;
  bottom: 1200px;
}

#img-div1{
  position: relative;
  bottom: 1150px;
  right: 100px;
}

#inputLabel{
  color:white;
  font-size: large;
  position: relative;
  top: 2px;
  letter-spacing: 1.5px;
}

#img-div{
  box-shadow: 0 1px 5px rgb(207, 207, 207);
}