/* label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
 */

#light #quizSettingButton{
    background-color: #ffb74d;
    margin-top: 4rem;
    left: 20px;
    width: 150px;
    height: 40px;
    letter-spacing: 3px;
  }

  #dark #quizSettingButton{
    background-color: #FFEA41;
    color: #151a30;
    margin-top: 4rem;
    left: 20px;
    width: 150px;
    height: 40px;
    letter-spacing: 3px;
  }

  
  #centerContent {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 10rem;
    margin-left: 6rem;
}  

    