

#light #navButton{
    width: auto;
    letter-spacing: 1.8px;
    background-color: #ffb74d;
    color:white;
    border-color: #ffb74d;
    size: 2px;
   }
   
   #dark #navButton{
    width:auto;
    letter-spacing: 1.8px;
    border-color: #1d2238;
    color:#1d2238;
   }
   