@media screen and (max-width:768px){
    * {
        margin: 0;
      -ms-overflow-style: none;
    }
    
    ::-webkit-scrollbar {
      display: none;
    }
    
    #mainBody {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    
    .remPart {
      width: -webkit-fill-available;
    }

}