 /* @media screen and (min-width:901px) {} */
    .join-quiz-main-conatainer{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 4rem auto 0 auto;
        
    }   

    .join-quiz-lottie{
        width: 30%;
    }
 
    .join-quiz-header{
        position: relative;
        white-space: nowrap;
    }

    .join-quiz-question-navigation-tab{
      
        overflow-x: hidden;
        overflow-y: scroll;
        width: fit-content;
        height: 40rem;
    }

    .join-quiz-question-locator{

        cursor: pointer;
        display: inline-block;
        margin-right: 30px;
        border-radius: 100%;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        margin: 0.5rem;
        border-color: none;
        box-sizing: border-box;
        background: linear-gradient(-45deg,
        var(--color-one),
        var(--color-two),
        var(--color-one));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color:white;
        box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
        font-size: larger;
        font-weight: 800;
    }

    .join-quiz-content-div{
        display: flex;
        flex-direction: column;
    }

    .join-quiz-question-navigation-tab-h5{
        border-radius: 0 0 2px 2px;
        display: inline-block;
        margin-right: 30px;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        border-color: none;
        box-sizing: border-box;
        background: linear-gradient(-45deg,
        var(--color-one),
        var(--color-two),
        var(--color-one));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color:white;
        box-shadow: 0 0.1rem 0.5rem 0rem rgb(118, 118, 118);
        font-size: larger;
        font-weight: 800;
    }
   
    .join-quiz-main-div{
        background-image: url("../../lotties/SharedScreenshot.jpg");
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.422);
    }

    .join-quiz-next-btn{
        background: linear-gradient(-45deg,
        var(--color-one),
        var(--color-two),
        var(--color-one));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        width: 200px;
        height: 200px;
        letter-spacing: 3px;
        position: relative;
        border-color: none;
    }

    #join-quiz-containing-vector{
        padding-top: 0;
    }
   


