#question {
    word-break: break-all;
    text-align: center;
    padding: 2%;
    margin: 2%;
}

#options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    word-wrap: break-word;
    width: 40%;
    margin: 2%;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0.625rem 2rem 0;
    width: 50%;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    font-weight: bold;
    box-sizing: border-box;
}

button {
    width: 50%;
    align-self: center;
    border-radius: 0.5rem;
}

#joinQuizHeader {
    display: flex;
    height: 3rem;
    align-items: center;
}

.back-icon {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

#navigationTab {
    display: flex;
    align-items: center;
    width: 100%;
}

.questionLocator {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}