@media screen and (max-width:451px){
    
.join-quiz-question{
    display: flex;
    text-align: center;
    padding: 2%;
    justify-content: flex-start;
    margin: 2%;
    position: relative;
    overflow: scroll;
    width: 85%;
    justify-self: center;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background: #eee;
    margin: 1rem auto 0 auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(207, 207, 207)
}

.join-quiz-correct-answer{
    border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        margin: 3%;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);border: none;
        outline: none;
        background: #eee;
        display: flex;
        flex-direction: column;
        width:85%;
}

#options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    word-wrap: break-word;
    width: 40%;
    margin: 2%;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0.625rem 2rem 0;
    width: 50%;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    font-weight: bold;
    box-sizing: border-box;
}

button {
    width: 50%;
    align-self: center;
    border-radius: 0.5rem;
}

#joinQuizHeader {
    display: flex;
    height: 3rem;
    align-items: center;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0.2rem;
}

#light .back-icon {
    height: 4rem;
    width: 1rem;
    margin: 0.5rem;
    border-color: white;
    border-radius: 50%;
    color:black;
}

#dark .back-icon{
    height: 4rem;
    width: 1rem;
    margin: 0.5rem;
    border-color: #FFEA41;
    border-radius: 50%;
    color:#FFEA41;
}

#navigationTab {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    overflow: scroll;
    margin-bottom: 2rem;
}

::-webkit-scrollbar {
    display: visible;
  }
    .join-quiz-question-number-div{
        display: flex;

    }
#light .questionLocator {
    border-radius: 100%;
    width: 0.5rem;
    height: 3.8rem;
    margin: 0.5rem;
    box-sizing: border-box;
    color:white;
   border-color: none;
    font-size: larger;
    font-weight: 800;
    background: linear-gradient(-45deg, var(--color-one),
        var(--color-two),
        var(--color-one) );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
}

#light .questionLocator:hover{
    box-shadow: 0 0.1rem 0.3rem 0rem rgb(235, 235, 235);
    font-size: x-large;
    font-weight: 800;
    transition: 0.3s;
    
}

#dark .questionLocator{
    border-radius: 100%;
    width: 1rem;
    height: 3.8rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border-color: #FFEA41;
    color: #FFEA41;
    font-size: larger;
    font-weight: 800;

}

#dark .questionLocator:hover{
    font-size: larger;
    font-weight: 800;
    transition: 0.3s;
    border-color: #FFEA41;
    color:#FFEA41;
}

 #light .join-quiz-main-div{
    width: 98%;
    margin: 2rem auto 0 auto;
    display: flex;
    background-image: url("../../lotties/SharedScreenshot.jpg");
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.5rem 0rem rgb(185, 185, 185);
}

.join-quiz-option{
    margin: 0 auto 0 auto;
    padding: 1rem;
    min-width: 300px;
    max-width: 300px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 3px 7px black;
    font-weight: 800;
}

#join-quiz-option-value{
    top: 0px;
    padding-left: 1rem;
}

.vectorMainDiv{
    position:absolute;
    margin-top: 18.5%;
    margin-left: 1rem;
    width:auto ;
}

 #join-quiz-option-number{
    background: linear-gradient(-45deg, var(--color-one),
    var(--color-two),
    var(--color-one) );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: var(--white-color);
    padding: 10px;
    border-radius: 5px 5px 0 0 ;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    margin-top: 5px;
    font-size: larger;
 }

 .join-quiz-option-div{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
 }

 #submittedAns{
    padding: 1rem;
    font-size: larger;
    resize: vertical;
 }
   
}