@media screen and (min-width: 901px) {
    
    .question-builder-card-main-div{
        display: flex;
        justify-content: center;
        width: 90%;
        
        transition: all 0.3s ease-in-out;
    }

    .question-builder-card-main-child-div{
        border-color: transparent;
        background-image: url("../../../lotties/SharedScreenshot.jpg");
        margin-top: 5rem;
        display: flex;
        width: 60%;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.422);
    }
    
    .question-builder-card-main-lottie-div{
        height: 100%;
        width: 100%;
        display: none;
    }

    .question-builder-card-main-form-div{
        width: 100%;
        flex-direction: column;
        margin: 1rem 2rem;
        
    }

    #flex-main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        width: auto;
    }

    #form-c{
        
        width:100%;
        margin:0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden; 
    }
    
    .first-container{
        display: flex;
    }
    
    .text-area-container{
        
    }
    
    .button-container{
   
    }
    
    .add-btn-div{
    
    }
    
    #light #Question {
        position: relative;
        width: 45rem;
        justify-self: center;
        border: none;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin: 2rem auto 0 auto;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207)
    }
    
    #dark #Question {
        position: relative;
        width: 45rem;
        justify-self: center;
        border: none;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin: 2rem auto 0 auto;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207)
    }
    
    

    #addQuestionButton {
        margin-top: 3rem;
        border: transparent;
        background: linear-gradient(-45deg, var(--color-one),
        var(--color-two),
        var(--color-one) );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        font-weight: 800;
        letter-spacing: 1px;
        color: var(--white-color);
    }
    
    .flex-option-ca-Container{
        margin-top: 1rem;
        display: flex;
    }
    
    .option-plus-addButton{
        display: flex;
    }
    
    #optionDiv{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        justify-content: space-between;
 
        width: 750px;
    }
    
    #option {
        width: 1rem;
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        margin: 0 -1rem 1.25rem auto;
        background: #fff;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    #AddOptionButton{
        border: transparent;
        background: linear-gradient(-45deg, var(--color-one),
        var(--color-two),
        var(--color-one) );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: var(--white-color);
    }
    
   
    .correctAns{
        display: flex;
        justify-content: flex-end;
    } 
    #correctAns{
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        background: #fff;
        padding: 15px;
        height: min-content;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    .options-individual{
        margin: 2rem 50px 2rem 50px;
        min-width: 173px;
        max-width: 173px;
        background: white;
        border-radius: 7px;
        box-shadow: 0 3px 7px black;
        padding: 10px;
        margin: 16px;
        font-weight: 800;
    }

    .options-individual:hover{
        box-shadow: none;
        transition: all 0.3s ease-in-out;
    }
    

    
    
    #light .DeleteButton{
        display: flex;
        color: #ffb74d;
    }
    #dark .DeleteButton{
        display: flex;
        justify-self: flex-end;
        color:#FFEA41;
    }
    
    .option-number{
        background-color: #ffb74d;
        color: white;
        
        border-radius: 100%;
        width: 40px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-bottom: -20px;
        position: absolute;
        z-index: 3;
    }
    
    .option-value{
        font-size: larger;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 5px;
        overflow: scroll;
    }
}