@media screen and (min-width: 901px) {
    
    .question-builder-card-main-div{
        display: flex;
        justify-content: center;
        width: 90%;
        
        transition: all 0.3s ease-in-out;
    }

    .question-builder-card-main-child-div{
        border-color: transparent;
        background-image: url("../../../lotties/SharedScreenshot.jpg");
        margin-top: 5rem;
        display: flex;
        width: 60%;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.422);
    }
    
    .question-builder-card-main-lottie-div{
        height: 100%;
        width: 100%;
        display: none;
    }

    .question-builder-card-main-form-div{
        width: 100%;
        flex-direction: column;
        margin: 1rem 2rem;
        
    }

    #flex-main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        width: auto;
    }

    #form-c{
        
        width:100%;
        margin:0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden; 
    }
    
    .first-container{
        display: flex;
    }
    
    .text-area-container{
        
    }
    
    .button-container{
   
    }
    
    .add-btn-div{
    
    }
    
    .cancel-btn-div{
    
    }
    
    #light #Question {
        position: relative;
        width: 45rem;
        justify-self: center;
        border: none;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin: 2rem auto 0 auto;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207)
    }
    
    #dark #Question {
        position: relative;
        width: 45rem;
        justify-self: center;
        border: none;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin: 2rem auto 0 auto;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207)
    }
    
    

    #light #addQuestionButton {
        
    }
    
    #dark #addQuestionButton {
        
    }
    
    .flex-option-ca-Container{
        margin-top: 1rem;
        display: flex;
    }
    
    .option-plus-addButton{
        display: flex;
    }
    
    #optionDiv{
        
    
    }
    
    #option {
        width: 1rem;
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        margin: 0 -1rem 1.25rem auto;
        background: #fff;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    #light #AddOptionButton{
        
    }
    
    #dark #AddOptionButton{
       
    }
    .correctAns{
        display: flex;
        justify-content: flex-end;
    } 
    #correctAns{
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        background: #fff;
        padding: 15px;
        height: min-content;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
     #light .options-individual{
       
    }
    
    #dark .options-individual{
        
    }
    
    
    #light .DeleteButton{
        
    }
    #dark .DeleteButton{
       
    }
    
    #light .option-number{
       
    }
    
    #dark .option-number{
       
    }
}