@media screen and (max-width:451px) {
    .question-builder-card-main-div{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .question-builder-card-main-lottie-div{
        position: absolute;
        height: 100%;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -9999;

    }

    .question-builder-card-main-child-div{
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
    }

    #flex-main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 7rem;
        row-gap: 2rem;
    }
    
    .first-container{
        display: flex;
        flex-direction: column;
    }
    
    .text-area-container{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    
    .button-container{
     display: flex;
     flex-direction: row;
     margin: 2rem;
    }
    
    .add-btn-div{
     display:flex;
     align-self: center;
    }
    
    .cancel-btn-div{
        display: flex;
        align-self: center;
    }
    
    #light #Question {
        width: 100%;
        border: none;
        padding: 4px;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        position: relative;
        width: 90%;
        margin: 1.875rem auto 1.25rem auto;
        background: #fff;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    #dark #Question {
        width: 100%;
        border: none;
        padding: 4px;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        position: relative;
        width: 38rem;
        margin: 1.875rem auto 1.25rem auto;
        background: var(--white-color);
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px var(--white-color);
    }
    
    
    
    #cancelBtn{
        width:auto;
        margin: 0 20px 0 20px;
        font-weight: 800;
        letter-spacing: 1.2px;
    }
     
    #light #addQuestionButton {
        width: auto;
        height: auto;
        margin: 0 20px 0 20px;
        font-weight: 800;
        letter-spacing: 1.2px;
        background-color: #ffb74d;
        border-color: #ffb74d;
        color:white;
        box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
    }
    
    #dark #addQuestionButton {
        width: auto;
        height: auto;
        margin: 0 20px 0 20px;
        font-weight: 800;
        letter-spacing: 1.2px;
        border-color: #FFEA41;
        color: #FFEA41;
        box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
    }
    
    .flex-option-ca-Container{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .option-plus-addButton{
        display: flex;
        margin: 0rem 2rem 0 2rem;
    }
    
    #optionDiv{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        justify-content: space-between;
        max-width:450;
        overflow: scroll;
        margin: 2rem;
    }
    
    #option {
        width: 1rem;
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: var(--white-color);
        width: fit-content;
        margin: 0 0 1.25rem auto;
        background: var(--white-color);
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    #light #AddOptionButton{
        display: flex;
        align-self: center;
        background-color: #ffb74d;
        border-color: #ffb74d;
        color:white;
    }
    
    #dark #AddOptionButton{
        display: flex;
        align-self: center;
        background-color: #FFEA41;
        color: white;
    }
    
    #correctAns{
        width: 1rem;
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        margin: 0.5rem 2rem 2rem 2rem;
        background: #fff;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
     #light .options-individual{
        margin: 2rem 50px 2rem 50px;
        min-width: 173px;
        max-width: 173px;
        background: white;
        border-radius: 7px;
        box-shadow: 0 2px 5px #ccc;
        padding: 10px;
        margin: 16px;
        font-weight: 800;
        overflow: scroll;
    }
    
    #dark .options-individual{
        margin: 2rem 50px 2rem 50px;
        min-width: 173px;
        background: #1d2238;
        border-color: #1d2238;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
        color: #eee;
        border-radius: 7px;
        padding: 10px;
        margin: 16px;
        font-weight: 800;
    }
    
    
    #light .DeleteButton{
        display: flex;
        color: #ffb74d;
    }
    #dark .DeleteButton{
        display: flex;
        justify-self: flex-end;
        color:#FFEA41;
    }
    
    #light .option-number{
        background-color: #ffb74d;
        color: white;
        box-shadow: 0 3px 8px rgb(207, 207, 207);
        border-radius: 100%;
        width: 40px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-bottom: -20px;
        position: absolute;
        z-index: 3;
    }
    
    #dark .option-number{
        color: #FFEA41;
        border: 1px solid;
        border-radius: 100%;
        width: 40px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-bottom: -20px;
        position: absolute;
        z-index: 3;
    }
}