@media screen and (max-width:451px) {
    .question-builder-card-main-div{
        display: flex;
        justify-content: center;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .question-builder-card-main-child-div{
        border-color: transparent;
        background-image: url("../../../lotties/SharedScreenshot.jpg");
  
        display: flex;
        width: 115%;
        margin-top: -40px;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.422);
    }
    
    .question-builder-card-main-lottie-div{
        height: 100%;
        width: 100%;
        display: none;
    }

    .question-builder-card-main-form-div{
        width: 100%;
        flex-direction: column;
        margin: 1rem 2rem;
    }

    #flex-main-container{
    
    }

    #form-c{
        
 
    }
    
    .first-container{
        display: flex;
    }
    
    .text-area-container{
        
    }
    
    .button-container{
   
    }
    
    .add-btn-div{
    
    }
    
    #Question {
        position: relative;
        width: 20rem;
        justify-self: center;
        border: none;
        outline: none;
        font-size: 1.2em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin: 1rem auto 0 auto;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207)
    }
    

    
    

    #addQuestionButton {
        margin-top: 3rem;
        border: transparent;
        background: linear-gradient(-45deg, var(--color-one),
        var(--color-two),
        var(--color-one) );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        font-weight: 800;
        letter-spacing: 1px;
        color: var(--white-color);
        width: max-content;
    }
    
    .flex-option-ca-Container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      row-gap: 1;
    }
    
    .option-plus-addButton{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #optionDiv{
        display: inline-table;
    }
    
    #option {
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        margin-top: 1rem;
        background: #fff;
        padding: 15px;
        width: 130px;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    #AddOptionButton{
        border: transparent;
        background: linear-gradient(-45deg, var(--color-one),
        var(--color-two),
        var(--color-one) );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: var(--white-color);
        justify-self: center;
        top:17px;
        right: 20px;
    }
    
   
    .correctAns{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        width: 150px;
    } 
    #correctAns{
        border: none;
        outline: none;
        font-size: 1em;
        font-family: inherit;
        resize: none;
        background: #eee;
        width: fit-content;
        background: #fff;
        padding: 15px;
        height: min-content;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgb(207, 207, 207);
    }
    
    .options-individual{
        margin-top: 1.5rem;
        min-width: 300px;
        max-width: 300px;
        background: white;
        border-radius: 7px;
        box-shadow: 0 3px 7px black;
        font-weight: 800;
    }

    .options-individual:hover{
        box-shadow: none;
        transition: all 0.3s ease-in-out;
    }
    

    
    
    #light .DeleteButton{
        display: flex;
        color: #ffb74d;
        left: 315px;
        width: 0;
        bottom: 15px;
    }
    
    .option-number{
        background-color: #ffb74d;
        color: white;
        padding: 10px;
        border-radius: 100%;
        width: 40px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        top: 60px;
        right: 20px;
        position: relative;
        
    }
    
    .option-value{
        font-size: larger;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 5px;
        font-weight: 800;
        overflow: scroll;
        position: relative;
        top: 20px;
    }
}