#addQuestionButton {
    width: auto;
    height: auto;
    position: relative;
    left: 400px;
    bottom: 86px;
    letter-spacing: 1.2px;
}

.DeleteButton {
    width: auto;
    height: auto;
}

#AddOptionButton {
    /* width:36px;
    height: 60px; */
    position: relative;
    border: none;
    border-radius: 100%;
    left: 220px;
    bottom: 110px;

}

#Question {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background: #eee;
    position: relative;
    width: 38rem;
    margin: 1.875rem auto 1.25rem auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(207, 207, 207);
}

#option {
    width: 1rem;
    border: none;
    padding: 1px;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    background: #eee;
    position: relative;
    width: fit-content;
    margin: 1.875rem auto 1.25rem auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    left: 244px;
    bottom: 70px;
    box-shadow: 0 1px 5px rgb(207, 207, 207);
}

#correctAns {
    width: 1rem;
    border: none;
    padding: 1px;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    background: #eee;
    position: relative;
    width: fit-content;
    margin: 1.875rem auto 1.25rem auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(207, 207, 207);

}

#addQuizButton {
    letter-spacing: 1.2px;
    inline-size: 300px;
}

#settingsButton {
    position: absolute;
    bottom: 670px;
    left: 100px;
    width: auto;
    letter-spacing: 1.2px;
}