#flex-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.first-container{
    background-color: red;
    display: flex;
    flex-direction: row;
}

.text-area-container{
    background-color: green;
}

.button-container{
 background-color: aqua;
 display: flex;
 flex-direction: row;
}

.add-btn-div{
 background-color: blue;
 display:flex;
 align-self: center;
}

.cancel-btn-div{
    background-color: chocolate;
    display: flex;
    align-self: center;
}