.explore-courses-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explore-courses-content-lottie-div{
    display: flex;
    flex-direction: column;
}

#light .explore-courses-h2{
    margin-top: 1rem;
    color:black;
    padding: 1rem;
}

#dark .explore-courses-h2{
    margin-top: 1rem;
    color:white;
    padding: 1rem;
}

