#light .Search-course-component-main-botton{
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: var(--white-color);
    width: 150px;
    height: 40px;
    letter-spacing: 2px;
    box-shadow: 0 0.1rem 0.3rem 0rem var(--gray-color);
    margin-top: 1rem;
    font-weight: 500;
    font-size: larger;
}

#dark .Search-course-component-main-botton{
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: var(--white-color);
    width: 150px;
    height: 40px;
    letter-spacing: 2px;
    margin-top: 1rem;
    font-weight: 200;
    font-size: larger;
}