.Search-course-component-main-botton{
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--white-color);
    width: max-content;
    height: 40px;
    letter-spacing: 1px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-weight: 200;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: large;
    background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);
}

