#outerCover {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  background-image: url("./images/2352.jpg");
  background-size: cover;
}

#mainFrame {
  margin-top: 4.688rem;
  display: flex;
  width: 70vw;
  height: 70vh;
  flex-direction: row;
  box-shadow: 0 0 0.625rem 0 grey;
  border-radius: 0.313rem;
}

#content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(90, 194, 90);
  color: white;
  border-radius: 0.313rem 0 0 0.313rem;
  background-image: url("./images/73Z_2108.w023.n001.896B.p1.896.jpg");
  background-size: cover;
}

#content h1 {
  margin: 80px;
  font-size: 2em;
}

#content p {
  margin-top: 0.313rem;
  margin-bottom: 1.25rem;
}

form {
  width: 100%;
}

#login {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0 0.313rem 0.313rem 0;
}

#register {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

#title-l,
#title-r {
  position: relative;
  top: 0%;
  color: #475bee;
}

input {
  margin: 0.625rem 0;
  width: 50%;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  font-weight: bold;
  box-sizing: border-box;
}

#switchmode {
  margin-top: 0%;
}

#switchmode button {
  width: 40%;
  align-self: center;
  margin: 0 0 0.625rem 0;
  color: white;
  border: none;
  background-color: #475bee;
}

button {
  cursor: pointer;
  width: inherit;
  margin: 0.625rem 0;
  padding: 0.625rem 3.125rem;
  background-color: transparent;
  border-radius: 0.375rem;
  transition: all 0.3s ease 0s;
  outline: none;
  font-weight: bold;
  color: #475bee;
}
#switchmode button:hover {
  box-shadow: 0 0 0.438rem #fff, 0 0 0.625rem #fff, 0 0 1.313rem #fff,
    0 0 2.625rem rgb(76, 0, 255), 0 0 5.125rem rgb(64, 0, 255),
    0 0 5.75rem rgb(64, 0, 255), 0 0 6.375rem rgb(25, 0, 255);
  color: #fff;
  border-radius: 1.563rem;
}

form button:hover {
  color: black;
  border-radius: 1.563rem;
}
