.Example input,
.Example button {
  font: inherit;
}

.Example header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Example header h1 {
  font-size: inherit;
  margin: 0;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.Example__container__load {
  margin-top: 1em;
  color: white;
}

.Example__container__document {
  margin: 1em 0;
}

.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1em;
}

.Example__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.react-pdf__Page__canvas{
    height: auto !important;
}

.react-pdf__Page__annotations, .annotationLayer{
    height: 0px !important;
}

.pdf-visualiser-pages-navigation-div{
    display: flex;
    justify-content: center;
}

.pdf-visualiser-title{
  background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%);
  -webkit-background-clip: text;
  background-clip: text;
  border-color: transparent;
  color: transparent;
  font-size: 29px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.pdf-visualiser-pages-navigation-btn-div{
  display: flex;
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pdf-visualiser-pages-navigation-btn{
  background-color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 70px;
  transition:  2s, 2s, background-color 2s, rotate 2s;
}

.pdf-visualiser-pages-navigation-btn:hover{
  background-color: rgba(84, 84, 84, 0.153);
}

.p-v-first-btn:hover{
  border-radius: 5px 0 0 5px;
}

.p-v-second-btn:hover{
  border-radius: 0 5px 5px 0;
}


.pdf-visualiser-pages-navigation-p-tag{
  display: flex;
  align-self: center;
  font-size: 10px;
  color: #545454;
  letter-spacing: 0.5px;
  margin: 0 20px 0 20px;
}


