.Example input,
.Example button {
  font: inherit;
}

.Example header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Example header h1 {
  font-size: inherit;
  margin: 0;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.Example__container__load {
  margin-top: 1em;
  color: white;
}

.Example__container__document {
  margin: 1em 0;
}

.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.Example__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.react-pdf__Page__canvas{
    height: auto !important;
}

.react-pdf__Page__annotations, .annotationLayer{
    height: 0px !important;
}

.pdf-visualiser-pages-navigation-div{
    display: flex;
    justify-content: center;
}

.pdf-visualiser-title{
  background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%);
  -webkit-background-clip: text;
  background-clip: text;
  border-color: transparent;
  color: transparent;
  font-size: 29px;
  margin-top: 20px;
  letter-spacing: 1px;
}

/* body {
  margin: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
} */

