#dark .cards {
    height: 100%;
    width: 100%;
    background-color: #222B45;
}

#light .para {
    color: #000000;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
}

#dark .para {
    color: #ffffff;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
}

#light .para span {
    color: #2196f3;
}

#dark .para span {
    color: #2196f3;
}

#light #joinQuizButton {
    background-color: #ffb74d;
    margin-top: 4rem;
    left: 20px;
    width: 150px;
    height: 40px;
    letter-spacing: 2px;
}

#dark #joinQuizButton {
    background-color: #FFEA41;
    color: #151a30;
    margin-top: 4rem;
    left: 20px;
    width: 150px;
    height: 40px;
    letter-spacing: 2px;
}

#dark .quizData {
    color: white;
}

#dark .quizStatusLive {
    color: greenyellow;
}

#dark .quizStatusEnded {
    color: #808080;
}