@media screen and (min-width:901px) {
    #dark .cards {
        height: 100%;
        width: 100%;
        background-color: #222B45;
    }
    
    #light .para {
        color: #000000;
        margin-top: 5rem;
        font-size: 2rem;
        text-align: center;
    }
    
    #dark .para {
        color: #ffffff;
        margin-top: 5rem;
        font-size: 2rem;
        text-align: center;
    }
    
    #light .para span {
        color: #2196f3;
    }
    
    #dark .para span {
        color: #2196f3;
    }
    
    #light .classroom-getstarted-btn {
        border-color: transparent;
        background: linear-gradient(-45deg,
          var(--color-one),
          var(--color-two),
          var(--color-one));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: var(--white-color);
        margin: 4rem;
        font-weight: 500;
        box-shadow: 0 0.1rem 0.3rem 0rem rgb(118, 118, 118);
    }
    
    #dark .classroom-getstarted-btn {
        border-color: transparent;
        background: linear-gradient(-45deg,
          var(--color-one),
          var(--color-two),
          var(--color-one));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: var(--white-color);
        margin: 4rem;
        font-weight: 500;
    }
    
    #dark .quizData {
        color: white;
    }
    
    #dark .quizStatusLive {
        color: greenyellow;
    }
    
    #dark .quizStatusEnded {
        color: #808080;
    }
}