#tab {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: solid 1px rgb(233 233 233);
}

#logo {
  font-size: 1.5rem;
  color: black;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

#iconStart {
  margin-top: 8.5rem;
}

.iconCover {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1.25rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: grey;
}

.iconCover:hover {
  background-color: #496aff;
  color: white;
}

.icon:hover {
  color: white;
}

#darkmode:hover {
  background-color: #000000;
  color: white;
}