#light #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#dark #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #222B45;

}

#light #upcomingTests {
  margin-bottom: 1rem;
}

#dark #upcomingTests {
  margin-bottom: 1rem;
  color: white;
}

