#light #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#dark #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #222B45;
}

#light #upcomingTests {
  margin-bottom: 1rem;
}

#dark #upcomingTests {
  margin-bottom: 1rem;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  width: 17rem;
  height: 21rem;
  background-color: white;
  margin: 2rem 1.75rem;
  border: solid 0.5px rgb(233 233 233);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

#card:hover {
  box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
  border: none;
  transition: border;
  transition-duration: 0.5s;
}

#dark #card {
  background-color: #1d2238;
  border-color: #1d2238;
}

#dark #card:hover {
  box-shadow: 0 0 0.7rem 0rem #151a30;
  border-radius: 0px;
}

#light #button {
  color: #ffb74d;
  border-color: #ffb74d;
}

#dark #button {
  border-color: #FFEA41;
  color: #FFEA41;
}

#cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 5rem;
}

#cardActions {
  align-self: center;
}

.cardActionsIcon {
  margin: 0 0.2rem
}