#light #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#dark #dashboardCover {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #222B45;

}

#light #upcomingTests {
  margin-bottom: 1rem;
}

#dark #upcomingTests {
  margin-bottom: 1rem;
  color: white;
}

.about-us-sanskrit-shloka-hindi{
  font-weight: 500;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 30px 0;
}

.inner-container{
  width: 90%;
  float: right;
  background-color: #fdfdfd;
}

.inner-container h1{
  background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%);
  -webkit-background-clip: text;
  background-clip: text;
  border-color: transparent;
  color: transparent;
  font-size: 29px;
}

.text{
  font-size: x-large;
  color: #545454;
  margin-top: 40px;
  line-height: 30px;
  text-align: left;
  line-height: 35px;
  margin-bottom: 40px;
}

.text-p{
  background: radial-gradient(circle at .8% 1.8%,#ff686b 0,#ffbb67 90.1%);
  -webkit-background-clip: text;
  background-clip: text;
  border-color: transparent;
  color: transparent;
  font-size: x-large;
  text-align: left;
  line-height: 35px;
}

.about-us-page-middle-coloured-div{
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 2rem;
}
.second{
  margin-top: 1rem;
  height: 200px;
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

.about-us-one{
  background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}

.about-us-two{
  background: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}

.about-us-three{
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
}

.about-us-p-lts{
  font-size: larger;
  font-weight: 900;
  text-align: left;
  line-height: 22px;
  color: var(--white-color);
  text-shadow: 0px 0.1px 4px rgba(0, 0, 0, 0.8);
}

.about-us-p-div{
  margin: 20px auto 0 auto;
  width: 80%;
}

.about-us-h1-lts{
  
  margin-top: 15px;
  color: var(--white-color);
  text-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.8);
}

.learning{
  margin-top: 0;
}

.learning-div{
  margin-top: 0;
  padding: 10px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 20px;
      margin-bottom: 20px;
  }
}