@media screen  and (min-width: 451px) {
  
.bodyWithAnimation{
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100px;
  margin: 2rem 1rem 1rem 1rem;
  align-self: center;
}

.quiz-content-div{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.typing {
  display: flex;
  margin-left: 4rem;
  height: 7.5rem;
  margin-top: 3rem; 
}


#light .namaste {
  color: var(--black-color);
  font-size: 6rem;
}

#dark .namaste {
  color: var(--white-color);
  font-size: 6rem;
}

#light .quiz-content-div h1 {
  color: var(--light-primary-color);
  font-size: 6rem;
}

#dark .quiz-content-div h1 {
  color: var(--dark-primary-color);
  font-size: 6rem;
}

.cursor {
  font-size: 20rem;
}

#centerContent{
  display: flex;
  flex-direction: column;
  row-gap: 3rem ;
}

#quiz-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

#light #homePageText {
  
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

#dark #homePageText {
  margin-top: 2rem;
  color: var(--white-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

#light .CreateQuizButton{
	background: linear-gradient(-45deg,
    var(--color-one),
    var(--color-two),
    var(--color-one));
	background-size: 400% 400%;
  color: var(--white-color);
  animation: gradient 10s ease infinite;
  border-color: transparent;
  letter-spacing: 0.8px;
  box-shadow: 0 0.1rem 0.3rem 0rem var(--gray-color);
  min-width: 15rem;
  min-height: 4rem;
  max-width: max-content;
  font-size: 1.3rem;
  box-sizing: border-box;
  font-weight: 500;
}

#dark .CreateQuizButton{
	background: linear-gradient(-45deg,
    var(--color-one),
    var(--color-two),
    var(--color-one));
	background-size: 400% 400%;
  color: var(--white-color);
  animation: gradient 10s ease infinite;
  border-color: transparent;
  letter-spacing: 0.8px;
  box-shadow: 0 0.1rem 0.3rem 0rem var(--gray-color);
  min-width: 15rem;
  min-height: 4rem;
  max-width: max-content;
  font-size: 1.3rem;
  box-sizing: border-box;
  font-weight: 500;
}



#light #joinquiztextfeild {
  width: 20rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1rem;
  box-sizing: border-box;
  border-color: var(--light-primary-color);
}

#dark #joinquiztextfeild {
  width: 20rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1rem;
  box-sizing: border-box;
  border-color: var(--dark-primary-color);
}

.quiz-textfield-joinbtn-parent-div{
  display: flex;
}

#light #joinquizbutton {
  box-sizing: border-box;
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 2px;
  height: 4rem;
  color: var(--light-primary-color);
}

#dark #joinquizbutton {
  box-sizing: border-box;
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 2px;
  height: 4rem;
  color: var(--dark-primary-color);
}

.quiz-animation-motion-div{
  align-self: center;
  position: absolute;
}

.quiz-animation-motion-parent-div{
  display: flex;
  padding: 11rem;
}



  .home-page-sanskrit-shloka-div{
    line-height: 2.5rem;
    letter-spacing: 0.8px;
    margin-bottom: 0.5rem;
    justify-self: center;
    text-align: center;
  }

  .home-page-sanskrit-shloka{
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: transparent;
    background-clip: text;
  }


  .home-page-welcome-qoute{
    text-align: start;
    font-size: x-large;
    line-height: 35px;
    font-weight: 100;
  }
  
  #home-page-welcome-qoute-span{
    border-color: transparent;
    background: linear-gradient(-45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: transparent;
    background-clip: text;
  }

}