#dark .body {
  background-color: #222B45;
  height: 100%;
}

.typing {
  display: flex;
  margin-left: 2rem;
}

#light .namaste {
  color: black;
  font-size: 5rem;
  margin-top: 3rem;
}

#dark .namaste {
  color: white;
  font-size: 5rem;
  margin-top: 3rem;
}

#light .body h1 {
  color: #FF9800;
  font-size: 5rem;
  margin-top: 3rem;
}

#dark .body h1 {
  color: #FFE102;
  font-size: 5rem;
  margin-top: 3rem;
}

.cursor {
  font-size: 2rem;
}

#q-mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.Quiz {
  width: 25%;
  box-sizing: border-box;
  padding: 10% 0%;
  margin: 0 5%;
  background-color: white;
  border-radius: 1rem;
  color: black;
  font-size: 1.5rem;
  border: solid 1px rgb(233 233 233);
}


#attempt-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 5vh 0 0 0;
  padding: 2rem;
}



.Quiz:hover {
  box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
}
#CreateQuizButton{
    background-color: #ffb74d;
    margin-right: 6rem;
    margin-left: 2rem;
    width: 16rem;
    height: 4rem;
    letter-spacing: 0.8px;
    font-size:1.3rem;
    position:absolute;
    left : 6rem;
}

#joinquizbutton{
  width: 5rem;
  letter-spacing: 2px;
  height: 4rem;
  margin-left:0.5rem ;
  color: #ffb74d;
  position:absolute;
  right:40rem;
}

