#light .bodyWithAnimation {
  display: flex;
  height: 100%;
  align-items: center;
}

#dark .bodyWithAnimation {
  background-color: #222B45;
  display: flex;
  height: 100%;
  align-items: center;
}

#light .body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#dark .body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.typing {
  display: flex;
  margin-left: 4rem;
  height: 7.5rem;
  margin-top: 3rem;
}

#light .namaste {
  color: black;
  font-size: 6rem;
  /* margin-top: 3rem; */
}

#dark .namaste {
  color: white;
  font-size: 6rem;
  /* margin-top: 3rem; */
}

#light .body h1 {
  color: #FF9800;
  font-size: 6rem;
  /* margin-top: 3rem; */
}

#dark .body h1 {
  color: #FFE102;
  font-size: 6rem;
  /* margin-top: 3rem; */
}

.cursor {
  font-size: 2rem;
}

#centerContent {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 10rem;
  margin-left: 6rem;
}

#light #homePageText {
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.8px;
  width: 41rem;
}

#dark #homePageText {
  color: white;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.8px;
  width: 41rem;
}

#q-mainBody {
  display: flex;
  align-items: center;
  width: auto;
  margin-top: 2rem;
}

/* .Quiz {
  width: 25%;
  box-sizing: border-box;
  padding: 10% 0%;
  margin: 0 5%;
  background-color: white;
  border-radius: 1rem;
  color: black;
  font-size: 1.5rem;
  border: solid 1px rgb(233 233 233);
}


#attempt-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 5vh 0 0 0;
  padding: 2rem;
}

.Quiz:hover {
  box-shadow: 0 0 1.5rem 0rem rgb(233 233 233);
} */


#light #CreateQuizButton {
  box-sizing: border-box;
  background-color: #ffb74d;
  width: 15rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1.3rem;
  margin-right: 2rem;
}

#dark #CreateQuizButton {
  box-sizing: border-box;
  background-color: #FFEA41;
  color: #151a30;
  width: 15rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1.3rem;
  margin-right: 2rem;
}

#light #joinquiztextfield {
  width: 20rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1rem;
  box-sizing: border-box;
  border-color: #ffb74d;
}

#dark #joinquiztextfield {
  width: 20rem;
  height: 4rem;
  letter-spacing: 0.8px;
  font-size: 1rem;
  box-sizing: border-box;
  border-color: #FFEA41;
}

#light #joinquizbutton {
  box-sizing: border-box;
  width: 5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  height: 4rem;
  color: #FF9800;
}

#dark #joinquizbutton {
  box-sizing: border-box;
  width: 5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  height: 4rem;
  color: #DBBE01;
}

#animation {
  z-index: 0;
  width: 20rem;
}

#outerTab {
  z-index: 1;
}

